body{
    background-color:white ;
    width: 100%;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.topnav {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: black;
    width: 100%;
}
.menu{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding-left: 30px;
}
.nav-btn{
    color: white;
    background-color: green;
    border: none;
    padding: 15px;
    border-radius: 8px;
    position: absolute;
    right: 200px;
}
.bg-img{
    width: 100%;
    height: 650px;
    text-align: center;
}
.img-content{
    padding: 120px;
}
.btn-access{
    color: green;
    border-radius: 20px;
    font-size: 20px;
    padding: 8px;
}
.title-1{
    color: white;
    font-size: 72px;
    font-weight: 700;
}
.title-2{
    color: green;
    font-size: 72px;
    font-weight: 700;
}
.img-text-1{
    color: white;
}
.img-text-2{
    color: white;
}
.vault-btn{
    color: white;
    background-color: green;
    border: none;
    padding: 15px;
    border-radius: 8px;
}
.video-btn{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 15px;
    border-radius: 8px;
}
.notes {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.card-section{
    width: 300px;
    padding: 10px;
}
.card-container {
    background-color: aliceblue;
}
.card img{
    background-color: orangered;
}
.card-flex{
    display: flex;
    text-align: center;
}
.card{
    padding: 24px 24px 24px 24px;
    border-radius: 10px;
}
.list {
    display: flex;
}
.middle-section {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.solution-image {
    height: 400px;
}
.solution-right {
    margin-left: 40px;
}
.clr{
    color: green;
}
.in{
    margin: 10px;
}
.background{
    background: rgba(247, 246, 242, 1);
    padding: 40px 40px 40px 40px;
    text-align: center;
    margin: 80px;
}
.end{
    background-color:var(--Style, rgba(0, 25, 49, 1));
    height: 200px;
}
.font{
    color:white;
    padding: 10px;
}
.something{
    color: white;
    text-align: center;
    padding-top: 30px;
}
.row-flex{
    display: flex;
    height: 40px;
    padding: 35px;
}
.social-media {
    position: absolute;
    right: 200px;
}