body{
    background-color:white ;
    width: 100%;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.topnav{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: black;
    width: 100%;
}
.menu{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding-left: 30px;
}
.nav-btn{
    color: white;
    background-color: green;
    border: none;
    padding: 15px;
    border-radius: 8px;
    position: absolute;
    right: 100px;
}
.bg-img{
    width: 100%;
    height: 650px;
    text-align: center;
}
.img-content{
    padding: 120px;
}
.btn-access{
    color: green;
    border-radius: 20px;
    font-size: 20px;
    padding: 8px;
}
.title-1{
    color: white;
    font-size: 72px;
    font-weight: 700;
}
.title-2{
    color: green;
    font-size: 72px;
    font-weight: 700;
}
.img-text-1{
    color: white;
}
.img-text-2{
    color: white;
}
.vault-btn{
    color: white;
    background-color: green;
    border: none;
    padding: 15px;
    border-radius: 8px;
}
.video-btn{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 15px;
    border-radius: 8px;
}